html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centerTable {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position:center;
}

the-table td {
    width: 20%;
    padding:1%;
}

.the-table th {
    width: 20%;
    padding: 1%;
}

.center-horizontal {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 90%;
    justify-content: center;
}

.center-horizontal li {
    padding: 10px;
}
